body {
    background-color: rgba(0, 0, 255, 0.4);
}

.col-md-6 {
    z-index: 1;
}

#canvas-wrapper {
    height: 100%;
    background: white;
    margin: 0;
}

#canvas {
    height: 100%;
    width: 100%;
    margin: 0;
}

.tool-bar {
    height: 700px;
    background-color: rgba(248, 244, 244, 0.596);
}

.colors > div:not(.form-group):not(.dropdown) {
    height: 50px;
    border: inset;
    margin-bottom: 2px;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.dropdown {
    text-align: left;
}

.pen-size:focus ~ .dropdown-menu.eraser {
    display: none;
}

.dropdown-menu li {
    cursor: pointer;
}

.dropdown-menu.eraser li:first-child div {
    margin: 5%;
    background-color: black;
    height: 30px;
}

.dropdown-menu li:first-child div {
    margin: auto 5%;
    background-color: black;
    height: 15px;
}

.dropdown-menu li:nth-child(2) div {
    margin: 5%;
    background-color: black;
    height: 12px;
}

.dropdown-menu li:nth-child(3) div {
    margin: 5%;
    background-color: black;
    height: 10px;
}

.dropdown-menu li:nth-child(4) div {
    margin: 5%;
    background-color: black;
    height: 7px;
}

.dropdown-menu li:nth-child(4) div {
    margin: 5%;
    background-color: black;
    height: 4px;
}

.dropdown-menu li:nth-child(5) div {
    margin: 5%;
    background-color: black;
    height: 2px;
}

#custom-color {
    margin-top: 20px;
}

.colors > div:first-child {
    background-color: red;
}

.colors > div:nth-child(2) {
    background-color: pink;
}

.colors > div:nth-child(3) {
    background-color: yellow;
}

.colors > div:nth-child(4) {
    background-color: green;
}

.colors > div:nth-child(5) {
    background-color: gray;
}

.colors > div:nth-child(6) {
    background-color: blue;
}

.colors > div:nth-child(7) {
    background-color: lightblue;
}

.colors > div:nth-child(8) {
    background-color: brown;
}

.colors > div:nth-child(9) {
    background-color: purple;
}

.colors > div:nth-child(10) {
    background-color: orange;
}

.colors > div:nth-child(11) {
    background-color: rgba(228, 163, 43, 0.774);
}





